<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Contact</title>
</head>
<body>

  <div id="content"> 

    <!--sidebar: user id logged in-->

    <div data-th-if="${loggedInUser}">
      <div data-th-replace="~{user/sidebar :: side-bar}"></div>
    </div>

    <div class="sm:pl-64 pt-8" style="height: 1000px;">

      <!--Total grids: 12-->
      <div class="grid grid-cols-12">

        <!--3,3 grid empty from left and right side-->
        <div class="col-span-3"></div>

        <!-- if screen size > = medium : card width 6px-->
        <!-- if screen size < medium : card width 12 px-->
        <div class="col-span-12 md:col-span-6">

          <!--card start: Download from Flowbite-->
          <!-- p 6 is padding between card border and data inside card-->

          <div class="card block p-6 bg-white border border-gray-300 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" style="text-align: left;">

            <div data-th-replace="message::messagebox"></div>

            <h1 class="text-2xl font-semibold">Add Contacts</h1>

            <p class="text-gray-500">This contact will be stored on cloud, you can directly email this client from scm...</p>
            <br>
            
            <!--Form submit on ContactController @PostMapping("/add"), method: saveContact()-->
            <form
            data-th-action="@{/user/contacts/add}"
            method="post"
            data-th-object="${contactForm}"
            enctype="multipart/form-data"
            >

              <!--start name field-->

              <!-- data th field automatically set name,id,value by default-->
              <!-- *name = contactForm.name-->
              

              <div class="">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Name</label>

                <div class="relative mb-1">
                  <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <i class="fa-solid fa-user"></i>
              
                  </div> 
                    <input 
                    data-th-field="*{name}"
                    type="text"
                    id="name" 
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                    placeholder="name">

                 
                </div> 

                <p class="text-red-500 px-1"
                  data-th-if="${#fields.hasErrors('name')}"
                  data-th-errors="*{name}" style="font-size: 14px;" ></p>

              </div>

              <!--end: name field-->

              <!--start email field-->

              <div class="mt-5" >
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Email</label>
                <div class="relative mb-1">
                  <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <i class="fa-solid fa-envelope"></i>
              
                  </div>
  
                    <input 
                    data-th-field="*{email}"
                    type="email" 
                    id="email" 
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="example@gmail.com">
  
                </div> 

                <p class="text-red-500 px-1" data-th-field="${#fields.hasErrors('email')}"
                data-th-errors="*{email}" style="font-size: 14px;"></p>
              </div>

              <!--end: email field-->

              <!--start phone field-->

              <div class="mt-3">
                <label for="phoneNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone No.</label>

                <div class="relative mb-1">
                  <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">   
                    <i class="fa-solid fa-phone"></i>
                  </div>
  
                    <input 
                    data-th-field="*{phoneNumber}"
                    type="text" 
                    id="phoneNumber" 
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                    placeholder="xxx-xxx-xxxx">
  
                </div> 

                <p class="text-red-500 px-1" data-th-field="${#fields.hasErrors('phoneNumber')}"
                data-th-errors="*{phoneNumber}" style="font-size: 14px;"></p>
              </div>

              <!--end: phone field-->

              <!--address field start-->
              <div class="mt-3">

                <label for="address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Address</label>

                <textarea 
                data-th-field="*{address}"
                id="address" 
                rows="4" 
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                placeholder="Write your address here..."></textarea>

                <p class="text-red-500 px-1" data-th-field="${#fields.hasErrors('address')}" 
                data-th-errors="*{address}" style="font-size: 14px;"
                ></p>

              </div>
              <!--address field end-->

              <!--Description field start-->
              <div class="mt-3">

                <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>

                <textarea 
                data-th-field="*{description}"
                
                rows="4" 
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                placeholder="Write your description here..."></textarea>

                <p class="text-red-500 px-1" data-th-field="${#fields.hasErrors('description')}" 
                data-th-errors="*{description}" style="font-size: 14px;"></p>

              </div>
              <!--Description field end-->

              <!--social links-->
              <div class="flex space-x-3 mt-3">
                <div class="w-full">

                  <!--website link-->
                  <div class="mb-3">                    
                    <div class="relative mb-6">
                      <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <i class="fa-solid fa-earth-americas"></i>
                      </div>
      
                        <input 
                        data-th-field="*{websiteLink}"
                        type="text" 
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="http://example.com/">
      
                    </div>
                  </div>
                </div>
                <!--website link end-->

                <!--linkedin link-->
                <div class="w-full">
                  <div class="mb-3">
                    <div class="relative mb-6">

                      <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <i class="fa-brands fa-linkedin"></i>
                      </div>
      
                        <input 
                        data-th-field="*{linkedInLink}"
                        type="text" 
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-4.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="https://www.linkedin.com">
      
                    </div>
                  </div>

                </div>
                <!--linkedin link end-->
              </div>

              <!--contact image start-->
              
              <div>
                <!--This image text download from flowbite website-->
                <!--admin.js show the image on Add Contact page-->

                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="default_size">Contact image</label>

                <input
                id="image_file_input"
                type="file"
                data-th-field="*{contactImage}"
                
                class="block w-full mb-5 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" 
                >

                <img class="max-h-52 mx-auto rounded-lg shadow m-3 mb-3" src="" id="upload_image_preview" alt="">

              </div>
            
              <!--contact image end-->


              <!--favorite checkbox start-->
              <div class="flex items-center mb-4">
                <input 
                data-th-field="*{favorite}"
                type="checkbox" 
                
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="favorite" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Is this contact is your favorite one ?</label>
              </div>

              <!--favorite checkbox end-->

              <!--button-->
              <div class="button-container text-center">

                <button type="submit" class="px-3 py-2 rounded dark:bg-blue-600 bg-blue-700 text-white">
                  Add Contact
                </button>

                <button type="reset" class="px-3 py-2 rounded dark:bg-blue-600 bg-blue-700 text-white">
                  Reset
                </button>

              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--This script show uploaded image on this page-->
  <script data-th-src="@{'/js/admin.js'}"></script>

  <script>
    console.log("add_contacts page");
  </script>

  
</body>
</html>